.header {
	position:fixed;
	top:0;
	right:0;
	left:0;
	z-index:1;
	background:$body-bg;
	border-bottom:1px solid $gray-lighter;

	h1{
		margin:20px 0;
	}

	.searchbar-wrapper {
		position:absolute;
		top:20px;
		right:55px;
		width:50%;
	}

	.icon-help {
		position:absolute;
		top:30px;
		right:23px;
		font-size: 16px;
		cursor:pointer;
	}
}