.method {
	&--name {
		font-weight:bold;
	}

	&--params {
		margin-top:20px;
	}

	&--params-list {
		@include type();
	}

	&--description {
		@include description();
	}

	&--returns {
		margin-top: 30px;
	}
}