$bootstrap-sass-asset-helper: true;
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@import 'sass/fontello';
@import 'sass/mixins';
@import 'sass/header';
@import 'sass/comp';
@import 'sass/prop';
@import 'sass/method';
@import 'sass/param';
@import 'sass/helpbox';

body{
	padding-top:100px;
}

.container {
	position:relative;
}

h1 {
	margin-bottom:30px;
	font-size:41px;
}