.dl-props{
	overflow: hidden;
	dt{
		float:left;
		width:100px;
		clear:both;
	}
}

*[data-expanded='true']{
	display:block;
}

*[data-expanded='false']{
	display:none;
}

.comp .panel-heading {
	cursor:pointer;
}