@import 'sass/bootstrap';

@import 'sass/fontello';
@import 'sass/mixins';
@import 'sass/header';
@import 'sass/comp';
@import 'sass/prop';
@import 'sass/method';
@import 'sass/param';

body{
	padding-top:100px;
}

.searchbar-wrapper {
	position:absolute;
	top:20px;
	right:15px;
	width:50%;
}

.container {
	position:relative;
}

h1 {
	margin-bottom:30px;
	font-size:41px;
}